.headerBg {
  width: 100%;
  height: 336px;
  background-image: url('../../images/headerBg.png');

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBlock {
  display: flex;
  width: 67px;
  height: 67px;
  & img {
    width: 100%;
    height: 100%;
    margin-right: 31px;
  }
  & h1 {
    // font-family: 'Montserrat';
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #ffffff;
  }
}
